<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>Feature</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 ">
           <input type="text" class="form-control materail_input" ng-model="query" placeholder="Ingrese busqueda">
    </div>
</div>
<hr class="colorgraph"> 
<form name="form">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <input type="text" class="form-control" name="fename" ng-model="fename" ng-minlength="6" ng-maxlength="100" required  placeholder="Feature Name" />
                <div class="error-container" ng-show="form.fename.$dirty && form.fename.$invalid">
                    <small class="error" ng-show="form.fename.$error.required">{{'feature_REQUIRED'| translate}}</small>
                    <small class="error" ng-show="form.fename.$error.maxlength">{{'feature_LONG'| translate}}</small>
                </div>
            </div>
 </div>              
        <div>
            <button type="button" class="btn btn-success" ng-click="savefeature(fename);" ng-show="mode=='create'">Guardar</button>
            <button type="button" class="btn btn-success" ng-click="updatefeature(feoid,fename);" ng-show="mode=='edit'">Actualizar</button>
            <button type="button" class="btn btn-success" ng-click="deletefeature(feoid);" ng-show="mode=='edit'">Eliminar</button>
            <button class="btn btn-default" ng-click="initform()">{{'ROOM_CANCEL'|translate}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">

                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr ng-repeat="feature in listfeature | filter:query">
                            <td><button ng-click="selectfeature(feature.feoid, feature.fename,feature.suoid)"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{feature.fename}}</td>
                            </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
