<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'QUESTION'| translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 ">
           <input type="text" class="form-control materail_input" ng-model="query" placeholder="{{'FILTER'| translate}}">
    </div>
</div>
<hr class="colorgraph"> 
<form name="form">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                <input type="text" class="form-control" name="qucode" ng-model="qucode" ng-minlength="6" ng-maxlength="100" required  placeholder="{{'CODE'| translate}}" />
                <div class="error" ng-show="form.qucode.$dirty && form.qucode.$invalid">
                    <small class="error" ng-show="form.qucode.$error.required">{{'REQUIRED'| translate}}{{'QUESTION'| translate}}</small>
                    <small class="error" ng-show="form.qucode.$error.minlength">{{'LONG'| translate}}</small>
                    <small class="error" ng-show="form.qucode.$error.maxlength">{{'LONG'| translate}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 form-group">
                    <input type="text" name="ququestion"  id="ququestion" ng-model="ququestion" ng-minlength="6" ng-maxlength="100" required  class="form-control" placeholder="{{'QUESTION'| translate}}">              
                <div class="error" ng-show="form.ququestion.$dirty && form.ququestion.$invalid">
                    <small class="error" ng-show="form.ququestion.$error.required">{{'REQUIRED'| translate}}{{'QUESTION'| translate}}</small>
                    <small class="error" ng-show="form.ququestion.$error.minlength">{{'LONG'| translate}}</small>
                    <small class="error" ng-show="form.ququestion.$error.maxlength">{{'LONG'| translate}}</small>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <select ng-model="mtoid" name="mtoid" id="mtoid" class="form-control" ng-options="p.mtname for p in listMethod">
                    <option value="">{{'SELECTION'| translate}}{{'METHOD'| translate}}</option>
                </select>
        </div>    
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <select ng-model="meoid" name="meoid" id="meoid" class="form-control" ng-options="p.mename for p in listMetric">
                    <option value="">{{'SELECTION'| translate}}{{'METRIC'| translate}}</option>
                </select>
        </div>    
    </div>   
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <select ng-model="tqoid" name="tqoid" id="tqoid" class="form-control" ng-options="p.tqdescription for p in listTypequestion">
                    <option value="">{{'SELECTION'| translate}}{{'TYPE'| translate}}</option>
                </select>
        </div>    
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
              <input type="text" name="optionquestion"  id="optionquestion" ng-model="optionquestion" ng-minlength="6" ng-maxlength="100" required  class="form-control" placeholder="{{'OPTIONS'|translate}}">              
        </div>    
    </div>               
        <div>
            <button type="button" class="btn btn-success" ng-click="savequestion(qucode,ququestion,mtoid,meoid);" ng-show="mode=='create'">{{'BUTTON_CANCEL'|translate}}</button>
            <button type="button" class="btn btn-success" ng-click="updatequestion(quoid,qucode,ququestion,mtoid,meoid);" ng-show="mode=='edit'">{{'BUTTON_UPDATE'|translate}}</button>
            <button type="button" class="btn btn-success" ng-click="deletequestion(quoid);" ng-show="mode=='edit'">{{'BUTTON_DELETE'|translate}}</button>
            <button class="btn btn-default" ng-click="initform()">{{'BUTTON_CANCEL'|translate}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">

                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{'CODE'|translate}}</th>
                            <th>{{'QUESTION'|translate}}</th>
                            <!--<th>Metodo</th>-->
                            <!--<th>Feature</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listquestion | filter:query">
                            <td><button ng-click="selectquestion(item.quoid,item.qucode,item.ququestion,item.mtoid,item.meoid,item.tqoid, item.optionquestion)"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{item.qucode}}</td>
                            <td>{{item.ququestion}}</td>
                            <!--<td>{{getMethodName(item.mtoid)}}</td>-->
                            <!--<td>{{getFeatureName(item.meoid)}}</td>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>       
</form>
