<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>Subdimension</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 ">
           <input type="text" class="form-control materail_input" ng-model="query" placeholder="Ingrese busqueda">
    </div>
</div>
<hr class="colorgraph"> 
<form name="form">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <input type="text" class="form-control" name="suname" ng-model="suname" ng-minlength="6" ng-maxlength="100" required  placeholder="Subdimension" />
                <div class="error-container" ng-show="form.suname.$dirty && form.suname.$invalid">
                    <small class="error" ng-show="form.suname.$error.required">Subdimension</small>
                    <small class="error" ng-show="form.suname.$error.maxlength">Subdimension</small>
                </div>
            </div>
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <select ng-model="dioid" name="dioid" id="dioid" class="form-control" ng-options="p.diname for p in listDimension">
                    <option value="">-- Seleccione una Dimension --</option>
                </select>
        </div>     
 </div>              
        <div>
            <button type="button" class="btn btn-success" ng-click="saveSubdimension(suname,dioid);" ng-show="mode=='create'">Guardar</button>
            <button type="button" class="btn btn-success" ng-click="updateSubdimension(suoid,suname,dioid);" ng-show="mode=='edit'">Actualizar</button>
            <button type="button" class="btn btn-success" ng-click="deleteSubdimension(suoid);" ng-show="mode=='edit'">Eliminar</button>
            <button class="btn btn-default" ng-click="initform()">{{'ROOM_CANCEL'|translate}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">

                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Subdimension</th>
                            <th>Dimension</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listSubdimension | filter:query">
                            <td><button ng-click="selectSubdimension(item.suoid,item.suname,item.dioid)"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{item.suname}}</td>
                            <td>{{getName(item.dioid)}}</td>
                            </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
