<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'PARTICIPATION'| translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 ">
           <input type="text" class="form-control materail_input" ng-model="query" placeholder="{{'FILTER'| translate}}">
    </div>
</div>
<hr class="colorgraph"> 
<form name="form">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <select ng-model="proid" name="proid" id="proid" class="form-control" ng-options="p.prname for p in listproject">
                    <option value="">{{'SELECTION'| translate}} {{'PROJECT'| translate}}</option>
                </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <select ng-model="faoid" name="faoid" id="faoid" class="form-control"  ng-options="p.faname for p in listFacility">
                    <option value="">{{'SELECTION'| translate}}{{'FACILITY'| translate}}</option>
                </select>
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <select ng-model="phoid" name="phoid" id="phoid" class="form-control" ng-options="p.phcDescription for p in listPh">
                    <option value="">{{'SELECTION'| translate}}{{'PHASE'| translate}}</option>
                </select>
        </div> 
 </div>              
        <div>
            <button type="button" class="btn btn-success" ng-click="saveparticipation(proid,faoid,phoid);" ng-show="mode=='create'">{{'BUTTON_SAVE'| translate}}</button>
            <button type="button" class="btn btn-success" ng-click="updateparticipation(ptoid,proid,faoid,phoid);" ng-show="mode=='edit'">{{'BUTTON_UPDATE'| translate}}</button>
            <button type="button" class="btn btn-success" ng-click="deleteparticipation();" ng-show="mode=='edit'">{{'BUTTON_DELETE'| translate}}</button>
            <button class="btn btn-default" ng-click="initform()" data-target="#participation">{{'BUTTON_CANCEL'| translate}}</button>
        </div>
 </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{'PROJECT'| translate}}</th>
                            <th>{{'FACILITY'| translate}}</th>
                            <th>{{'PHASE'| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listparticipation | filter:query">
                            <td><button data-toggle="collapse" data-target="#participation" ng-click="selectparticipation(item.ptoid, item.proid, item.faoid, item.phoid )"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{getProjectName(item.proid)}}</td>
                            <td>{{getFacName(item.faoid)}}</td>
                            <td>{{getPhName(item.phoid)}}</td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
