        <!-- page content -->
        <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_320 ">
                      <div class="x_title">
                        <h2>{{'PROJECT'|translate}}</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                            <table class="table table-hover table-striped">
                                    <tbody>
                                        <tr ng-repeat="item in listproject | filter:query">
                                            <td><p><i class="fa fa-square GREEN"></i></p></td>
                                            <td>{{item.prname}}</td>
                                            <td>{{item.prdateend | date:'dd/MM/yyyy'}}</td>
                                            <td><button ng-click="loadGraphic(item)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                                    </tbody>
                                </table>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                      <div class="x_title">
                        <h2>{{'SYSTEM'|translate}}</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <table class="table table-hover table-striped">
                          <tbody>
                              <tr ng-repeat="item in listsystem | filter:query">
                                  <td><p><i class="fa fa-square GREEN"></i></p></td>
                                  <td>{{item.sysname}}</td>
                                  <td>{{item.initials}}</td>
                          </tbody>
                      </table>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                      <div class="x_title">
                        <h2>{{'FACILITY'|translate}}</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <table class="table table-hover table-striped">
                          <tbody>
                              <tr ng-repeat="item in listfacility | filter:query">
                                  <td><p><i class="fa fa-square GREEN"></i></p></td>
                                  <td>{{item.faname}}</td>
                          </tbody>
                      </table>
                      </div>
                    </div>
                </div>
              <!-- <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                  <div class="x_title">
                    <h2>{{'QUICK'|translate}} {{'SETTINGS'|translate}}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="dashboard-widget-content">
                      <ul class="quick-list">
                        <li><i class="fa fa-calendar-o"></i><a href="#/dashboard/mainconfiguration/attribute">{{'SETTINGS'|translate}}</a>
                        </li>
                        <li><i class="fa fa-bars"></i><a href="#/dashboard/mainproject/project">{{'PROJECT'|translate}}</a>
                        </li>
                        <li><i class="fa fa-bar-chart"></i><a href="#/dashboard/mainconfiguration/system">{{'SYSTEM'|translate}}</a> </li>
                        <li><i class="fa fa-line-chart"></i><a href="#/dashboard/mainconfiguration/question">{{'QUESTION'|translate}}</a>
                        </li>
                        <li><i class="fa fa-bar-chart"></i><a href="#/dashboard/mainsecurity/role">{{'ROLE'|translate}}</a> </li>
                        <li><i class="fa fa-line-chart"></i><a href="#/dashboard/mainsecurity/person">{{'SECURITY'|translate}}</a>
                        </li>
                        <li><i class="fa fa-area-chart"></i><a href="#/adminaccess">Logout</a>
                        </li>
                      </ul>
                      </div>
                  </div>
                </div>
              </div> -->
        </div>
   <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h2>Question por Subdimensión</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                        <div id="chartQsub"></div>
                </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                  <h2>Question por Subdimensión</h2>
                   <div class="clearfix"></div>
             </div>
              <div class="x_content">
                <div id="chartQsubdonut"></div>
              </div>
            </div>
        </div>
   </div>
   <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{project}}</h2>
                    <div class="clearfix"></div>
                  <div class="x_content">
                        <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                        <thead>
                                                <tr>
                                                    <th>{{'FILTER_LST'| translate}} </th>
                                                    <th>   
                                                           <select ng-model="dioid" name="dioid" id="dioid" class="form-control" ng-change="getresponsevalueDM()" ng-change="getresponsevalueDM(item.dioid)" ng-options="p.diname for p in listDimension">
                                                                <option value="">{{'FILTER_LST'| translate}} {{'DIMENSION'| translate}}</option>
                                                            </select>
                                                    </th>
                                                    <th>
                                                                    <select ng-model="sdoid" name="sdoid" id="sdoid" class="form-control" ng-change="getresponsevalueSD()" ng-options="p.suname for p in listSubdimension">
                                                                        <option value="">{{'FILTER_LST'| translate}} {{'SUB_DIMENSION'| translate}}</option>
                                                                    </select>
                                                    </th> 
                                                    <th>                                         
                                                            <select ng-model="feoid" name="feoid" id="feoid" class="form-control" ng-change="getresponsevalueFE()" ng-options="p.fename +' '+ p.suname for p in listfeature">
                                                                    <option value="">{{'SELECTION'| translate}}{{'FEATURE'| translate}}</option>
                                                                </select>
                                                          </th>
                                                    <th>                          
                                                            <select ng-model="sfoid" name="sfoid" id="sfoid" class="form-control" ng-change="getresponsevalueSFE()" ng-options="p.sfname for p in listSubfeature">
                                                                <option value="">{{'FILTER_LST'| translate}} {{'SUB_FEATURE'| translate}}</option>
                                                            </select>
                                                       </th> 
                                                    <th></th>
                                                </tr>
                                            </thead>
                                     </table>
                                    <table class="table table-hover table-striped">
                                            <thead>
                                                    <tr>
                                            <th>Pregunta</th>
                                            <th>Project</th> 
                                            <th>Quoid</th> 
                                            <!-- <th>TypeCuestion</th> -->
                                            <th>optionquestion</th>
                                            <th>Respuesta</th> 
                                            <th>%</th>
                                        </tr>
                                            </thead>
                                    <tbody>
                                        <tr ng-repeat="item in listresponsevalue | filter:query">
                                            <td>{{item.ququestion}}</td>
                                             <td>{{item.proid}}</td>
                                             <td>{{item.quoid}}</td>
                                            <!-- <td>{{item.tqdescription}}</td> -->
                                            <td>{{item.optionquestion}}</td>
                                            <td>{{getItemsResp(item)}}</td>
                                            <td>{{getResp(item)}}</td>
                                    </tbody>
                                </table>
                  </div>
                </div>
            </div>

    </div>

  