        <!-- page content -->
        <DIV>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                      <div class="x_title">
                        <h2>App Versions</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <canvas id="densityChart1" width="300" height="150"></canvas>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                      <div class="x_title">
                        <h2>{{'SYSTEM'|translate}}</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <table class="table table-hover table-striped">
                          <tbody>
                              <tr ng-repeat="item in listsystem | filter:query">
                                  <td><p><i class="fa fa-square GREEN"></i></p></td>
                                  <td>{{item.sysname}}</td>
                                  <td>{{item.initials}}</td>
                          </tbody>
                      </table>
                      </div>
                    </div>
                </div>
              <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                  <div class="x_title">
                    <h2>{{'QUICK'|translate}} {{'SETTINGS'|translate}}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="dashboard-widget-content">
                      <ul class="quick-list">
                        <li><i class="fa fa-calendar-o"></i><a href="#/dashboard/mainconfiguration/attribute">{{'SETTINGS'|translate}}</a>
                        </li>
                        <li><i class="fa fa-bars"></i><a href="#/dashboard/mainproject/project">{{'PROJECT'|translate}}</a>
                        </li>
                        <li><i class="fa fa-bar-chart"></i><a href="#/dashboard/mainconfiguration/system">{{'SYSTEM'|translate}}</a> </li>
                        <li><i class="fa fa-line-chart"></i><a href="#/dashboard/mainconfiguration/question">{{'QUESTION'|translate}}</a>
                        </li>
                        <li><i class="fa fa-bar-chart"></i><a href="#/dashboard/mainsecurity/role">{{'ROLE'|translate}}</a> </li>
                        <li><i class="fa fa-line-chart"></i><a href="#/dashboard/mainsecurity/person">{{'SECURITY'|translate}}</a>
                        </li>
                        <li><i class="fa fa-area-chart"></i><a href="#/adminaccess">Logout</a>
                        </li>
                      </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
 <!-- Table Respuestas -->
 <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'Response Value'| translate}}</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <canvas id="densityChart" width="300" height="150"></canvas>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
          <canvas id="polar-chart" width="300" height="150"></canvas>
       </div>
  </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
               <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Pregunta</th>
                            <th>Project</th>
                            <th>TypeCuestion</th>
                            <th>optionquestion</th>
                            <th>Respuesta</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listresponsevalue | filter:query">
                            <td><button ng-click="selectresponsevalue(item.rvoid,item.vaoid,item.rvvalue,item.rvdate,item.usoid)"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{item.ququestion}}</td>
                            <td>{{item.proid}}</td>
                            <td>{{item.tqdescription}}</td>
                            <td>{{item.optionquestion}}</td>
                            <td>{{item.rvresp}}</td>
                            <td>{{getResp(item)}}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  