<h4>{{'PERSON'| translate}}</h4> <hr/>
<form name="form">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <input type="text" class="form-control" name="peidentify" ng-model="peidentify" ng-minlength="3" ng-maxlength="50" required  placeholder="{{'IDENTIFY'| translate}}" />
                <div class="error-container" ng-show="form.peidentify.$dirty && form.peidentify.$invalid">
                    <small class="error" ng-show="form.peidentify.$error.required">{{'IDENTIFY_REQUIRED'| translate}}</small>
                    <small class="error" ng-show="form.peidentify.$error.maxlength">{{'IDENTIFY_LONG'| translate}}</small>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <input type="text" class="form-control" name="pename" ng-model="pename" ng-minlength="3" ng-maxlength="50" required  placeholder="{{'NAME'| translate}}"/>
                <div class="error" ng-show="form.txtNombre.$dirty && form.txtNombre.$invalid">
                    <small class="error" ng-show="form.txtNombre.$error.required">El nombre es obligatorio. </small>
                    <small class="error" ng-show="form.txtNombre.$error.minlength">Nombre al menos de 3 caracteres </small>
                    <small class="error" ng-show="form.txtNombre.$error.maxlength">Nombre no mayor a 50 caracteres </small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <input type="text" class="form-control" name="pesurname" ng-model="pesurname" ng-minlength="3" ng-maxlength="50" required placeholder="{{'SURNAME'| translate}}"/>
                <div class="error" ng-show="form.txtApellido.$dirty && form.txtApellido.$invalid">
                    <small class="error" ng-show="form.txtApellido.$error.required">El apellido es obligatorio. </small>
                    <small class="error" ng-show="form.txtApellido.$error.minlength">Apellido al menos de 3 caracteres </small>
                    <small class="error" ng-show="form.txtApellido.$error.maxlength">Apellido no mayor a 50 caracteres</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <input type="email" class="form-control" name="pemail" ng-model="pemail" ng-minlength="3" ng-maxlength="50" required placeholder="{{'EMAIL'| translate}}">
                <div class="error-container" ng-show="form.pemail.$dirty && form.pemail.$invalid">
                    <small class="error" ng-show="form.pemail.$error.required">El email es obligatorio.</small>
                    <small class="error" ng-show="form.pemail.$error.minlength">Email al menos de 3 caracteres</small>
                    <small class="error" ng-show="form.pemail.$error.email">No es un Email valido.</small>
                    <small class="error" ng-show="form.pemail.$error.maxlength">Email no mayor a 50 caracteres</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <input type="text" class="form-control" name="petelephon" ng-model="petelephon"  ng-minlength="8" ng-maxlength="15" required placeholder="{{'TELEPHONE'| translate}}"/>
                <div class="error" ng-show="form.petelephon.$dirty && form.petelephon.$invalid">
                    <small class="error" ng-show="form.petelephon.$error.required">El telefono es obligatorio.</small>
                    <small class="error" ng-show="form.petelephon.$error.maxlength">Telefono no mayor a 15 caracteres</small>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <textarea rows="3" class="form-control" name="pestudies" id="pestudies" ng-model="pestudies" ng-minlength="0" ng-maxlength="50" required placeholder="{{'ESTUDIES'| translate}}"></textarea>
             </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <textarea rows="3" class="form-control" name="peprofdescription" id="peprofdescription" ng-model="peprofdescription" ng-minlength="3" ng-maxlength="50" required placeholder="{{'PROFDESCRIP'| translate}}"></textarea>
            </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="savePerson(peidentify,pename,pesurname,pestudies,peprofdescription,pemail,petelephon);" ng-show="mode=='create'">Guardar</button>
            <button type="button" class="btn btn-success" ng-click="updateClick();" ng-show="mode=='edit'">Actualizar</button>
            <button type="button" class="btn btn-success" ng-click="deleteClick();" ng-show="mode=='edit'">Eliminar</button>
            <button class="btn btn-default" ng-click="initform()">{{'ROOM_CANCEL'|translate}}</button>
        </div>
    </div>
</form>
