<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'ROLE'| translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 ">
           <input type="text" class="form-control materail_input" ng-model="query" placeholder="{{'FILTER'| translate}}">
    </div>
</div>
<hr class="colorgraph"> 
<form name="form">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                <input type="text" class="form-control" name="rodescription" ng-model="rodescription" required="required" ng-minlength="3" ng-maxlength="100" required  placeholder="{{'ROLEDESCRIPTION'| translate}}"/>
                <div class="error" ng-show="form.rodescription.$dirty && form.rodescription.$invalid">
                    <small class="error" ng-show="form.rodescription.$error.required">{{'REQUIRED'| translate}}{{'ROLEDESCRIPTION'| translate}}</small>
                    <small class="error" ng-show="form.rodescription.$error.minlength">{{'LONG'| translate}}</small>
                    <small class="error" ng-show="form.rodescription.$error.maxlength">{{'LONG'| translate}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <input type="text" class="form-control" name="roinitials" ng-model="roinitials" ng-minlength="3" required="required" ng-maxlength="10" required placeholder="{{'ROLEINITIALS'| translate}}"/>
                <div class="error" ng-show="form.roinitials.$dirty && form.roinitials.$invalid">
                    <small class="error" ng-show="form.roinitials.$error.required">{{'REQUIRED'| translate}}{{'ROLEINITIALS'| translate}}</small>
                    <small class="error" ng-show="form.roinitials.$error.minlength">{{'LONG'| translate}}</small>
                    <small class="error" ng-show="form.roinitials.$error.maxlength">{{'LONG'| translate}}</small>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="saveRole(rodescription,roinitials);" ng-show="mode=='create'">{{'BUTTON_SAVE'| translate}}</button>
            <button type="button" class="btn btn-success" ng-click="updateRole(rooid,rodescription,roinitials);" ng-show="mode=='edit'">{{'BUTTON_UPDATE'| translate}}</button>
            <button type="button" class="btn btn-success" ng-click="deleteRole(rooid);" ng-show="mode=='edit'">{{'BUTTON_DELETE'| translate}}</button>
            <button class="btn btn-default" ng-click="initform()"  data-target="#Role">{{'ROOM_CANCEL'|translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">

                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{'DESCRIPTION'|translate}}</th>
                            <th>{{'INITIALS'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="Role in listRole | filter:query">
                            <td><button data-target="#Role" ng-click="selectRole(Role.rooid,Role.rodescription,Role.roinitials)"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{Role.rodescription}}</td>
                            <td>{{Role.roinitials}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
