<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'USER'| translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 ">
           <input type="text" class="form-control materail_input" ng-model="query" placeholder="{{'FILTER'| translate}}">
    </div>
</div>
<hr class="colorgraph"> 
<form name="form">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <input type="text" class="form-control" name="usname" ng-model="usname" ng-minlength="3" ng-maxlength="25" required  placeholder="{{'USER'| translate}}" />
                <div class="error-container" ng-show="form.usname.$dirty && form.usname.$invalid">
                    <small class="error" ng-show="form.usname.$error.required">{{'REQUIRED'| translate}}{{'USER'| translate}}</small>
                    <small class="error" ng-show="form.usname.$error.minlength">{{'LONG'| translate}}</small>
                    <small class="error" ng-show="form.usname.$error.maxlength">{{'LONG'| translate}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <input type="password" name="uspassword"  id="uspassword" ng-model="uspassword" ng-minlength="6" ng-maxlength="100" required  class="form-control" placeholder="{{'PASS'| translate}}">              
                    <div class="error" ng-show="form.uspassword.$dirty && form.uspassword.$invalid">
                        <small class="error" ng-show="form.uspassword.$error.required">{{'REQUIRED'| translate}}{{'PASS'| translate}}</small>
                        <small class="error" ng-show="form.uspassword.$error.minlength">{{'LONG'| translate}}</small>
                        <small class="error" ng-show="form.uspassword.$error.maxlength">{{'LONG'| translate}}</small>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <select ng-model="peoid" name="peoid" id="peoid" class="form-control" ng-options="p.pename for p in listPerson">
                    <option value="">{{'SELECTION'| translate}}{{'PERSON_SELECT'| translate}}</option>
                </select>
        </div>     
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                            <select name="usstatus"  id="usstatus" ng-model="usstatus" class="form-control" ng-options="e.Descripcion for e in lstEstados">
                                <option value="">{{'STATUS'| translate}}</option>
                            </select>
        </div>    
        
 </div>    
 <div class="row">
    <div align="center"  class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'ROLE'| translate}}</h2>
    </div>
    <div align="center" class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'ASIGNATIONS'| translate}}</h2>
    </div>
</div> 
<div class="row">
<div align="right" class="col-xs-5 col-sm-5 col-md-5">
 <select style="width: 400px;" ng-model="origen" name="origen[]" id="origen" class="form-control" multiple="multiple" size="14" ng-options="r.rodescription for r in listRole">
</select>
</div>
<div align="center" class="col-xs-2 col-sm- col-md-2"><br><br><br><br>
      <input type="button" class="pasar" value=">"><input type="button" class="pasartodos" value=">>"><input type="button" class="quitartodos" value="<<"><input type="button" class="quitar" value="<">
      <br><input type="button" ng-click="deleteUserrole(5)" value="Verificar">
</div>
<div align="left" class="col-xs-5 col-sm-5 col-md-5">
<select style="width: 400px;" ng-model="destino" name="destino[]" id="destino" multiple="multiple" size="14">
</select>
</div>
<br>
</div> <br><br>
        <div>
            <button type="button" class="btn btn-success" ng-click="saveUser(usname,uspassword,peoid,usstatus);" ng-show="mode=='create'">{{'BUTTON_SAVE'| translate}}</button>
            <button type="button" class="btn btn-success" ng-click="updateUser(usoid,usname,uspassword,peoid,usstatus);" ng-show="mode=='edit'">{{'BUTTON_UPDATE'| translate}}</button>
            <button type="button" class="btn btn-success" ng-click="deleteUser(usoid);" ng-show="mode=='edit'">{{'BUTTON_DELETE'| translate}}</button>
            <button class="btn btn-default" ng-click="initform()" data-target="#User">{{'BUTTON_CANCEL'|translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">

                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{'USER'| translate}}</th>
                            <th>{{'PERSON'| translate}}</th>
                            <th>{{'STATUS'| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="User in listUser | filter:query">
                            <td><button data-target="#User" ng-click="selectUser(User.usoid,User.usname,User.peoid,User.usstatus)"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{User.usname}}</td>
                            <td>{{getNamePerson(User.peoid)}}</td>
                            <td>{{getEstado(User.usstatus)}}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>       
</form>