<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <h2>{{'USER'| translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 ">
           <input type="text" class="form-control materail_input" ng-model="query" placeholder="Ingrese busqueda">
    </div>
</div>
<hr class="colorgraph"> 
<form name="form">
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <input type="text" class="form-control" name="usname" ng-model="usname" ng-minlength="6" ng-maxlength="100" required  placeholder="{{'LIDENTIFY'| translate}}" />
                <div class="error-container" ng-show="form.usname.$dirty && form.usname.$invalid">
                    <small class="error" ng-show="form.usname.$error.required">{{'USER_REQUIRED'| translate}}</small>
                    <small class="error" ng-show="form.usname.$error.maxlength">{{'USER_LONG'| translate}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <input type="password" name="uspassword"  id="uspassword" ng-model="uspassword" ng-minlength="6" ng-maxlength="100" required  class="form-control" placeholder="Password">              
                    <div class="error" ng-show="form.uspassword.$dirty && form.uspassword.$invalid">
                        <small class="error" ng-show="form.uspassword.$error.required">El Password es obligatorio. </small>
                        <small class="error" ng-show="form.uspassword.$error.minlength">Password al menos de 6 caracteres </small>
                        <small class="error" ng-show="form.uspassword.$error.maxlength">Password no mayor a 100 caracteres</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <input type="email" class="form-control" name="pemail" ng-model="pemail" ng-minlength="3" ng-maxlength="50" required placeholder="{{'LEMAIL'| translate}}">
                <div class="error-container" ng-show="form.pemail.$dirty && form.pemail.$invalid">
                    <small class="error" ng-show="form.pemail.$error.required">El email es obligatorio.</small>
                    <small class="error" ng-show="form.pemail.$error.minlength">Email al menos de 3 caracteres</small>
                    <small class="error" ng-show="form.pemail.$error.email">No es un Email valido.</small>
                    <small class="error" ng-show="form.pemail.$error.maxlength">Email no mayor a 50 caracteres</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <input type="text" class="form-control" name="petelephon" ng-model="petelephon"  ng-minlength="8" ng-maxlength="15" required placeholder="{{'TELEPHONE'| translate}}"/>
                <div class="error" ng-show="form.petelephon.$dirty && form.petelephon.$invalid">
                    <small class="error" ng-show="form.petelephon.$error.required">El telefono es obligatorio.</small>
                    <small class="error" ng-show="form.petelephon.$error.maxlength">Telefono no mayor a 15 caracteres</small>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <textarea rows="3" class="form-control" name="pestudies" id="pestudies" ng-model="pestudies" ng-minlength="0" ng-maxlength="50" required placeholder="{{'ESTUDIES'| translate}}"></textarea>
             </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <textarea rows="3" class="form-control" name="peprofdescription" id="peprofdescription" ng-model="peprofdescription" ng-minlength="3" ng-maxlength="50" required placeholder="{{'PROFDESCRIP'| translate}}"></textarea>
            </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="savePerson(usname,pename,pesurname,pestudies,peprofdescription,pemail,petelephon);" ng-show="mode=='create'">Guardar</button>
            <button type="button" class="btn btn-success" ng-click="updatePerson(peoid,usname,pename,pesurname,pemail,pestudies,peprofdescription,petelephon);" ng-show="mode=='edit'">Actualizar</button>
            <button type="button" class="btn btn-success" ng-click="deletePerson(peoid);" ng-show="mode=='edit'">Eliminar</button>
            <button class="btn btn-default" ng-click="initform()">{{'ROOM_CANCEL'|translate}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">

                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{'IDENTIFY'|translate}}</th>
                            <th>{{'NAME'|translate}}</th>
                            <th>{{'SURNAME'|translate}}</th>
                            <th>{{'EMAIL'|translate}}</th>
                            <!--<th>Clasificaci&#243;n</th>
                            <th>Asa</th>
                            <th>Observaci&#243;n</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Person in listPerson | filter:query">
                            <td><button ng-click="selectPerson(Person.peoid,Person.usname,Person.pename,Person.pesurname,Person.pemail,Person.pestudies,Person.peprofdescription,Person.petelephon)"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td>{{Person.usname}}</td>
                            <td>{{Person.pename}}</td>
                            <td>{{Person.pesurname}}</td>
                            <td>{{Person.pemail}}</td>
                            <!--<td>{{item.HcdpClasif}}</td>
                            <td>{{item.HcAsaEu}}{{item.HcAsa}}</td>
                            <td>{{item.HcDescripdiag}}</td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        
</form>
